$dt-bg-border-color: #fff;
$dt-bg-button-color: #fff;
$dt-header-bg-color: #fff;
$dt-border-color: #fff;
$dt-bg: #fff;

$dt-primary-color: $am-theme-primary;
$dt-label-color: rgba(0, 0, 0, .7);
$dt-header-color: rgba(0, 0, 0, .54);

$dt-selected-bg-color: $am-theme-primary;
$dt-selected-color: #fff;
$dt-hour-border-color: #ddd;

li.input.date_time_picker .date-time-picker-input {
  z-index: 2 !important;
  background: $dt-selected-color asset-url('active_material/icons/event.svg') 10px no-repeat;
  padding-left: 40px;
}

div.xdsoft_datetimepicker {
  font-family: 'RobotoDraft', sans-serif;
  background: $dt-bg-border-color;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 -1px 1px rgba(0, 0, 0, .12);
  padding: 0 12px 8px;
  z-index: 1;
  color: $dt-label-color;

  .xdsoft_datepicker {
    margin-top: 5px;
    width: 250px;
  }

  .xdsoft_datepicker.active + .xdsoft_timepicker {
    width: 68px;
    padding-left: 10px;
    margin-top: 30px;
    border-left: 1px solid $dt-hour-border-color;
  }

  .xdsoft_timepicker .xdsoft_time_box {
    border-bottom: 1px solid $dt-hour-border-color;
  }

  .xdsoft_timepicker .xdsoft_time_box>div>div {
    background: $dt-bg-button-color;
    border-top: 1px solid $dt-hour-border-color;
    color: $dt-label-color;
  }

  .xdsoft_label {
    background-color: $dt-bg-border-color;
    font-weight: 600;

    &.xdsoft_month {
      width: 90px;
      padding-right: 0;

      i {
        display: none;
      }
    }

    &.xdsoft_year {
      padding-left: 0;
      margin-left: 0;

      i {
        display: none;
      }
    }

    & > .xdsoft_select {
      border: 1px solid $dt-border-color;
      background: $dt-bg-border-color;
    }

    & > .xdsoft_select > div > .xdsoft_option {
      font-weight: 400;

      &:hover {
        color: $dt-primary-color;
        background: $dt-bg-border-color;
      }

      &.xdsoft_current {
        background: $dt-selected-bg-color;
        color: $dt-selected-color;
        box-shadow: unset;
      }
    }
  }

  .xdsoft_calendar td,
  .xdsoft_calendar th {
    background: $dt-bg-button-color;
    color: $dt-label-color;
    border: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;

    div {
      padding: 0;
    }
  }

  .xdsoft_calendar th {
    background: $dt-header-bg-color;
    font-weight: 500;
    color: $dt-header-color;

  }

  .xdsoft_calendar td.xdsoft_default,
  .xdsoft_calendar td.xdsoft_current,
  .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    color: $dt-selected-bg-color;
    background: $dt-bg;
    box-shadow: unset;
  }

  .xdsoft_calendar td:hover,
  .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: $dt-primary-color !important;
    background: $dt-bg-border-color !important;
  }

  .xdsoft_calendar td.xdsoft_today {
    &,
    &.xdsoft_current {
      background: $dt-selected-bg-color !important;
      color: $dt-selected-color !important;
    }
  }

  .xdsoft_time_box {
    border: 1px solid $dt-border-color;
  }

  .xdsoft_mounthpicker button {
    width: 24px;
    height: 24px;

    &.xdsoft_prev {
      background: asset-url('material/icons/keyboard_arrow_left.svg') no-repeat;
    }

    &.xdsoft_today_button {
      background: asset-url('material/icons/today.svg') no-repeat;
    }

    &.xdsoft_next {
      background: asset-url('material/icons/keyboard_arrow_right.svg') no-repeat;
    }
  }

  .xdsoft_timepicker > button {
    &.xdsoft_prev {
      width: 24px;
      height: 24px;
      background: asset-url('material/icons/keyboard_arrow_up.svg') no-repeat;
    }

    &.xdsoft_next {
      width: 24px;
      height: 24px;
      background: asset-url('material/icons/keyboard_arrow_down.svg') no-repeat;
    }
  }
}
