@import "select2";

.filter_range_select {
  input[type=number] {
    padding-right: 0px;
    width: 96px;
  }
  .separator {
    display: inline-block;
    text-align: center;
    width: 12px;
  }
}

.editable-cell {
  .editable-cell-form {
    display: none;
    > li, > form > li {
      list-style-type: none;
    }
  }
}
