@import 'select2';
@import 'jquery.xdan.datetimepicker';
@import 'palette-color-picker';

@import 'inputs/numeric-range-filter';
@import 'inputs/color-picker';
@import 'inputs/date-time-picker';
@import 'inputs/select2';
@import 'inputs/selected-list';

$error-color: #932419;

li.error {
  .select2-selection {
    border-color: $error-color;
  }
}
