@import "select2";
@import "jquery.xdan.datetimepicker";
@import "../palette-color-picker";

.filter_range_select {
  input[type=number] {
    padding-right: 0px;
    width: 96px;
  }
  .separator {
    display: inline-block;
    text-align: center;
    width: 12px;
  }
}

.nested_select {
  .nested-select-container {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

.palette-color-picker-bubble {
  z-index: 10;
}

input[type=text] {
  &.date-time-picker {
    width: 110px;
  }
}
