@import "select2";
@import "jquery.xdan.datetimepicker";
@import "../palette-color-picker";
@import "../selected-list";

$filter-two-inputs-width: 98px;

.filter_range_select {
  input[type=number] {
    padding-right: 0px;
    width: $filter-two-inputs-width;
  }
  .separator {
    display: inline-block;
    text-align: center;
    width: 12px;
  }
}

.nested_select {
  .nested-select-container {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

.palette-color-picker-bubble {
  z-index: 10;
}

input[type=text] {
  &.date-time-picker {
    width: 110px;
  }
}

.filter_range_date_time_picker {
  .sidebar_section & input.date-time-picker {
    padding-right: 0;
    width: $filter-two-inputs-width;

    &:placeholder-shown {
      background: #fff url('/assets/active_admin/datepicker/datepicker-input-icon.png') no-repeat 100% 7px;
    }
  }

  .separator {
    display: inline-block;
    text-align: center;
    width: 12px;
  }
}
