//= require font-awesome

@import "select2";

.filter_range_select {
  input[type=number] {
    padding-right: 0px;
    width: 96px;
  }
  .separator {
    display: inline-block;
    text-align: center;
    width: 12px;
  }
}

$gray: #999;

.editable-cell {
  .editable-cell-show, .editable-cell-edit {
    text-decoration: none;
    color: $gray;
    padding-right: 0.5em;
  }

  .editable-cell-form {
    display: none;
    > li, > form > li {
      list-style-type: none;
    }
    .editable-cell-show, > .input {
      display: inline;
      box-sizing: border-box;
    }
  }
}
